@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

/* Remove white flash on load */
html {
  background: #080808;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
}
